<!-- Technology Stack -->
<div class="card tech-stack", style="margin-top: 20px;">
    <h4 style="margin-top:0">Technology Stack</h4>
    <ul class="muted" style="margin-top:16px">
        <li>🐬 MySQL database</li>
        <li>🕷️ Scraped via Selenium</li>
        <li>֎&nbsp;&nbsp;&nbsp;API to ChatGPT</li>
        <li>🐍 Python ETL into MySQL</li>
        <li>🌐 Django, HTML, CSS, JavaScript</li>
        <li>📦 GitHub + venv</li>
        <li>🐧 Linux server</li>
        <li>📦 Future: Docker</li>
    </ul>
</div>